* {
  text-align: center;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: Georgia;
}
#main-topic {
  color: white;
}
.para {
  color: white;
  background-color: cornflowerblue;
}
button {
  background-color: purple;
  color: azure;
}
